@font-face{
    font-family: iran;
    src: url(../fonts/iran.ttf);
}

*{
    direction: rtl;
    font-family: iran;
    box-sizing: border-box;
}

body{
    font-size: 16px ;
    margin: 0px ;
}

a{
    text-decoration: none ;
}